<fieldset>
  <legend></legend>

  <label for="name"> First Name</label>
  <input name="name" id="name" type="text" placeholder="" required><br />

  <label for="dateofbirth"> Date of birth </label>
  <input name="dateofbirth" id="dateofbirth" type="date " required><br />

  <label for="location "> Place of residence </label>
  <input name="location" id="location" type="text" placeholder="" required><br />

  <label for="gender" id="gender"> Gender </label>
  <p><input id="gender" type="radio" name="gender" value="men" checked="checked" /> Men
    <input id="gender" type="radio" name="gender" value="women" />Women</p>

  <label for="orientation" id="orientation"> I'm looking for a </label>
  <p><input name="orientation" id="orientation" type="checkbox" value="men" checked="checked" /> Men
    <input name="orientation" id="orientation" type="checkbox" value="women" /> Women</p>

  <label for="agefrom"> minimum age</label>
  <input name="agefrom" id="agefrom" type="number" placeholder="" required>
  <label for="agetill"> maximum age</label>
  <input name="agetill" id="agetill" type="number" placeholder="" required><br />