<% include partials/head %>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="profile"><img src="/images/back.png" alt="back"></a>
          </li>
          <li>
            <h2> Interests </h2>
          </li>
        </ul>
      </nav>
    </header>

    <section id="createaccount">
      <form action="search" method="get">
        <fieldset>
          <p>We match people based on interests. choose 6 interests, this can be anything. Think of hobbies, your favorite food, buketlists, music you like..</p>
          <legend></legend><label for="name"> Interest #1</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <legend></legend><label for="name"> Interest #2</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <legend></legend><label for="name"> Interest #3</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <legend></legend><label for="name"> Interest #4</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <legend></legend><label for="name"> Interest #5</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <legend></legend><label for="name"> Interest #6</label>
          <input id="name" type="text" placeholder=""><br />
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg"><br />
          <img src="images/color.png" alt="interest"><br />

          <input id="button" type="submit" name="login" value="Save" />
        </fieldset>
      </form>
    </section>
  </body>

  </html>