<% include partials/head %>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="search"><img src="/images/back.png" alt="back"></a>
          </li>
          <li>
            <h2> Create account </h2>
          </li>
        </ul>
      </nav>
    </header>
    <section id="createaccount">
      <form method="post">
        <fieldset>
          <legend></legend>
          <p>Which email address and password do you want to use?</p>
          <label> E-mailadress </label>
          <input name="email" id="email" type="email" placeholder="name@mail.com" required>
          <label for="password"> Password </label>
          <input name="password" id="password" type="password" required>
          <input id="button" type="submit" name="login" value="Next step" />
        </fieldset>
      </form>
    </section>
  </body>

  </html>