<% include partials/head %>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">
              <p>Back</p>
            </a>
          </li>
          <li>
            <h2> Create account </h2>
          </li>
        </ul>
      </nav>
    </header>
    <section id="createaccount">
      <form method="post">

        <fieldset>
          <% if (errors){ %>
            <ul id="errorcontainer">
              <% errors.forEach(function(error) { %>
                <li>
                  <%= error.msg %>
                </li>
                <% }) %>
            </ul>
            <% } %>
              <legend></legend>
              <p>Which email address and password do you want to use?</p>
              <label for="email"> E-mailadress </label><br />
              <input name="email" id="email" type="email" placeholder="name@mail.com" required><br />
              <label for="password"> Password </label><br />
              <input name="password" id="password" type="password" required><br />
              <input id="button" type="submit" name="login" value="Next step" />
        </fieldset>
      </form>
    </section>
  </body>

  </html>