<% include partials/head %>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="createaccount1.ejs">
              <p>Back</p>
            </a>
          </li>
          <li>
            <h2> Create account </h2>
          </li>
        </ul>
      </nav>
    </header>

    <section id="createaccount">
      <form method="post" enctype="multipart/form-data">
        <% include partials/form %>
          <label for="profilepicture">Choose a profile picture</label><br />
          <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg" required><br />
          <div id="uploadphoto"></div>
          <input id="button" type="submit" name="login" value="Next step" />
          </fieldset>
      </form>
    </section>

    <script type="text/javascript" src="/script/index.js"></script>
  </body>

  </html>