<% include partials/head %>

  <body id="itsamatch">
    <section id="itsamatch">
      <h1>It's a Match!</h1>
      <img src="/images/logo.png">
    </section>

    <section id="names">
      <article>
        <img src="/upload/<%= data.profilepicture %>" alt="gebruiker">
        <p>
          <%= data.name %>
        </p>
      </article>
    </section>
    <section id="matchlaststep">
      <a href="/profile/<%= data._id%>"> <button> See profile</button></a>
      <a href="javascript:history.back()"> Back</a>
    </section>


  </body>