<% include partials/head %>

  <body>
    <section id="notfound">
      <article id="notfound">
        <section id="logo">
          <img src="images/logo.png" alt="logo_intermatching">
          <H5>Sorry, we can't find the page you're looking for..</H5>
          <H1>But we can find your dreammatch!</H1>
          <a href="/"><button>Find my dreammatch</button></a>
      </article>
      </section>

      <script type="text/javascript" src="/server.js"></script>
      <script type="text/javascript" src="script/script.js"></script>
  </body>

  </html>