<% include partials/head %>

  <body>

    <% include partials/header %>



      <section id="notifications">
        <a href="search" id="back">
          < back</a>
            <a href="user1">
              <article><img src="images/girl_square.png" alt="gebruiker jeroen">
                <p>Sarah and you are a match</p>
              </article>
            </a>
            <a href="user1">
              <article><img src="images/girl_square.png" alt="gebruiker jeroen">
                <p>Sarah sends you a flirt</p>
              </article>
            </a>
      </section>

      <script type="text/javascript" src="/server.js"></script>
      <script type="text/javascript" src="script/script.js"></script>

  </body>

  </html>