<% include partials/head %>

  <body>

    <% include partials/header %>

      <section id="matches" class="show">
        <h3>Matches</h3>
        <div>

          <article>
            <a href="user1">
              <img src="images/boy_square.png" alt="gebruiker">
              <p>Jeroen</p>
            </a>
          </article>

          <article>
            <a href="user1">
              <img src="images/boy_square.png" alt="gebruiker">
              <p>Jeroen</p>
            </a>
          </article>

          <article>
            <a href="user1">
              <img src="images/boy_square.png" alt="gebruiker">
              <p>Jeroen</p>
            </a>
          </article>

          <article>
            <a href="user1">
              <img src="images/boy_square.png" alt="gebruiker">
              <p>Jeroen</p>
            </a>
          </article>

          <article>
            <a href="user1">
              <img src="images/boy_square.png" alt="gebruiker">
              <p>Jeroen</p>
            </a>
          </article>
        </div>
      </section>

      <section id="interesses">
        <h3> Interests</h3>
        <p> We create matches with interests. Which interests does your dream match have? Choose the one you like and get matched! </p>


        <% for (var l = 0; l < data.length; l++) {%>
          <% var user = data[l]; %>


            <% if (user.interests != null) {%>
              <% for (var i = 0; i < user.interests.length; i++) {%>




                <article>
                  <!-- <%= user.pictures[i].path %> -->

                  <img src="/upload/<%= user.pictures[i].filename %>" alt="" class="interest">

                  <h4>
                    <%= user.interests[i] %>
                  </h4>
                  <div>
                    <form method="post" action="/search">
                      <input name="like[]" id="like" type="radio" value="<%= user._id %>" onClick="this.form.submit()" />
                      <input name="like[]" id="dislike" type="radio" value="dislike" />
                    </form>
                  </div>
                </article>
                <% } %>
                  <% } %>
                    <% } %>



      </section>

      <section>
        <br>
        <br>
        <br>
        <br>

      </section>

      <script type="text/javascript" src="/script/index.js"></script>

      <!-- <script type="text/javascript" src="/server.js"></script>
      <script type="text/javascript" src="script/script.js"></script> -->
  </body>

  </html>