<% include partials/head %>

  <body>

    <% include partials/header %>

      <section id="profile">
        <a href="search" id="back">
          < back</a>

            <img src="images/jeroenvierkant.jpg" alt="gebruiker">
            <div>
              <p>Jeroen, 28</p>

              <p>Utrecht</p>
            </div>
            <button id="contactmatch"><img id="contactmatch" src="images/buttonheart.png"></button>
            <button id="contactmatch"><img id="contactmatch"src="images/buttonhi.png"></button>
            <button id="contactmatch"><img id="contactmatch"src="images/buttoncross.png"></button>
      </section>

      <section id="user_interests">
        <h3> User interests</h3>
        <article>
          <img src="images/climbing.png" alt="interest climbing" class="interest">
          <h4>Climbing</h4>
        </article>

        <article>
          <img src="images/ski.png" alt="interest ski" class="interest">
          <h4>Ski</h4>
        </article>

        <article>
          <img src="images/cooking.png" alt="interest cooking" class="interest">
          <h4>Cooking</h4>
        </article>

        <article>
          <img src="images/mounteverest.png" alt="mount everest" class="interest">
          <h4>Climb Mount everest</h4>
        </article>

        <article>
          <img src="images/dog.png" alt="interest dogs" class="interest">
          <h4>Dogs</h4>
        </article>

        <article>
          <img src="images/code.png" alt="interest code" class="interest">
          <h4>Code</h4>
        </article>

      </section>

      <script type="text/javascript" src="/server.js"></script>
      <script type="text/javascript" src="script/script.js"></script>
  </body>

  </html>