@font-face {
  font-family: 'Avenir_Light';
  src: url('Avenir_Light.otf');
}

@font-face {
  font-family: 'Avenir_Book';
  src: url('Avenir_Book.otf');
}

@font-face {
  font-family: 'Avenir_Black';
  src: url('Avenir_Black.otf');
}

@font-face {
  font-family: 'Strawberry_Blossom';
  src: url('Strawberry_Blossom.otf');
}

h1 {
  font-family: 'Strawberry_Blossom';
  font-size: 4.5em;
  font-weight: 500;
}

h2,
legend {
  font-family: 'Avenir_Light';
  font-size: 1.5em;
  font-weight: 10;
}

h3 {
  font-family: 'Avenir_Black';
  font-size: 1.3em;
  font-weight: 900;
}

h4,
fieldset label {
  font-family: 'Avenir_Black';
  font-size: 1.1em;
  font-weight: 100;
}

h5,
legend {
  font-family: 'Avenir_Light';
  font-size: 1.5em;
  font-weight: 10;
}

p,
a,
input {
  font-family: 'Avenir_Light';
  font-size: 1em;
  font-weight: 100;
}

a button {
  font-family: 'Avenir_Light';
  font-size: 1em;
  background-color: #c58747;
  color: #ffffff;
  padding: .7em 0;
  border-radius: 2em;
  margin: 0em auto;
  width: 100%;
  border: none;
  max-width: 23.5em;
  display: block;
  text-align: center;
}

html {
  height: 100%
}

body {
  color: #202020;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff8f3;
}

* {
  box-sizing: border-box;
}


/* Login page */

section#logo {
  background-color: #ebbab5;
  margin: 0em 0em -.5em 0em;
  padding: 1em;
}

section#logo img[alt="logo_intermatching"] {
  width: 60%;
  max-width: 19em;
  margin: 0 auto;
  padding-top: 2em;
  display: block;
}

section#logo h1 {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

section#login {
  background-color: #ebbab5;
  color: #ffffff;
  padding: 0 1em 1em 1em;
  min-height: 30em;
}

section#login p {
  margin-bottom: 1.5em;
}

section#login form fieldset {
  border: none;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  max-width: 25em;
}

section#login form fieldset label {
  margin: 0.3em 0 0.3em;
}

section#login form fieldset input {
  padding: .7em .7em .7em 1em;
  width: 100%;
  border-radius: 2em;
  border: none;
  font-family: 'Avenir_Light';
  font-size: 90%;
  box-shadow: 1px 5px 11px -4px rgba(0, 0, 0, 0.18);
}

section#login form fieldset input:hover {
  border: .1em solid #c58747;
  border-width: 0.15em;
}

section#login form fieldset input:focus {
  border: .1em solid #c58747;
  border-width: 0.15em;
}

section#login form fieldset input:active {
  border: .1em solid #c58747;
  border-width: 0.15em;
}

section#login form fieldset input:valid {
  border: .1em solid #51c500;
  border-width: 0.12em;
}

section#login form fieldset input:hover:valid {
  border: .1em solid #51c500;
  border-width: 0.12em;
}

section#login form fieldset [type=submit] {
  font-family: 'Avenir_Light';
  font-size: 1em;
  background-color: #c58747;
  color: #ffffff;
  padding: .7em 0;
  border-radius: 2em;
  margin: 1.4em auto;
  width: 100%;
  border: none;
  box-shadow: -7px 10px 11px -4px rgba(0, 0, 0, 0.18);
}

section#login form fieldset [type=submit]:hover {
  opacity: .6;
  transition: .4s linear;
  border: none;
}

section#login form fieldset [type=submit]:focus {
  opacity: .6;
  transition: .4s linear;
  border: none;
}

section#login form fieldset [type=submit]:active {
  opacity: .6;
  transition: .4s linear;
  margin-top: -0.01em;
  border: none;
}

section#login form fieldset [type=submit]:valid {
  border: none;
}

section#login form fieldset [type=submit]:hover:valid {
  border: none;
}

section#login form article {
  text-align: center;
}

section#login form article a {
  color: #ffffff;
  display: block;
  font-size: 1.1em;
  margin-bottom: .3em;
}

section#login form article a:hover {
  color: #b8354d;
}


/*Header*/

header {
  background-color: rgba(235, 186, 181, .90);
  top: 0;
  box-shadow: -7px 10px 11px -4px rgba(0, 0, 0, 0.18);
  z-index: 100;
  position: fixed;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0.5em;
  margin: 0;
}

header nav ul li {
  margin: 0 0.5em;
}

header nav ul li:first-child {
  margin: 0 0 0 0.5em
}

header nav ul li:nth-child(2) {
  margin: 0 auto;
}

header nav ul li img[alt="logo"] {
  width: 3em;
  margin: 0;
  padding: 0;
}

header nav ul li img {
  width: 1.5em;
  margin: 0;
}

header nav ul li a:hover {
  opacity: .6;
  transition: .3s linear;
}

header nav ul li a:focus {
  opacity: .6;
  transition: .3s linear;
}

header nav ul li h2 {
  padding: 0.2em;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0
}

header nav ul li img[alt="settings"] {
  width: 2em;
  height: 2em;
  margin: -3.2em 0.5em;
  padding: 0;
  float: right;
}

header img[alt="back"] {
  width: 1.8em;
  height: auto;
  margin: 1.2em 0.5em;
  padding: 0;
  float: left;
}

a#back {
  margin: 0 auto 0 0em;
  display: flex;
  text-decoration: none;
  color: #7c7c7c;
  padding-top: 3.5em
}


/*Search page*/

section#matches.show {
  padding: 1em;
  margin: 2.9em auto 0 auto;
  max-width: 35em;
  z-index: 10;
  background-color: #fff8f3;
}

section#matches.hide {
  opacity: 0;
  margin-top: -5em;
}

section#matches div {
  display: flex;
  justify-content: left;
  overflow-x: scroll;
}

section#matches h3 {
  padding: 0;
  margin: .3em auto;
  color: #ebbab5;
}

section#matches article {
  width: 6em;
  margin-right: 1em;
}

section#matches article a:hover {
  opacity: .6;
  transition: .3s linear;
}

section#matches article a:focus {
  opacity: .6;
  transition: .3s linear;
}

section#matches article a:active {
  opacity: .6;
  transition: .3s linear;
}

section#matches article a img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  margin: .2em auto 0 auto;
}

section#matches a {
  text-decoration: none;
}

section#matches article p {
  text-align: center;
  color: #7c7c7c;
  margin: 0 auto;
  font-size: .8em;
}

section#interesses {
  background-color: #ffffff;
  padding: 1.5em 1em;
  max-width: 35em;
  margin: 0 auto;
  border-radius: .75em;
}

section#interesses h3 {
  color: #ebbab5;
  margin: .5em 0 .0 0;
}

section#interesses p {
  color: #7c7c7c;
  margin: 0.5em 0em 3em 0em;
}

section#interesses article {
  background-color: #ffffff;
  border-radius: 1em;
  justify-content: center;
  margin: 0 auto 4em auto;
  box-shadow: -7px 14px 16px 1px rgba(0, 0, 0, 0.18);
  max-width: 25em;
}

section#interesses article img.interest {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
}

section#interesses article div {
  background-color: #ffffff;
  display: flex;
  height: 3em;
  justify-content: space-around;
  margin-top: -0.1em;
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
}

section#interesses article div input#like[type="radio"] {
  content: url('/images/heart.png');
  width: 1.4em;
  height: 1.4em;
  -webkit-appearance: none;
  margin: auto;
}

section#interesses article div input#like[type="radio"]:checked {
  content: url('/images/heart_red.png');
  width: 1.4em;
  height: 1.2em;
  -webkit-appearance: none;
  margin: auto;
}

section#interesses article div input#dislike[type="radio"] {
  content: url('/images/cross.png');
  width: 1.4em;
  height: 1.3em;
  -webkit-appearance: none;
  margin: auto;
}

section#interesses article div input#dislike[type="radio"]:checked {
  content: url('/images/cross_red.png');
  width: 1.2em;
  height: 1.2em;
  -webkit-appearance: none;
  margin: auto;
}

section#interesses article h4 {
  color: #ffffff;
  margin: -2.5em 0 1em .5em;
}


/* Notifications page */

section#notifications {
  background-color: #ffffff;
  padding: 1em;
  margin: 0 auto;
  max-width: 35em;
  height: 50em;
  ;
}

section#notifications a {
  text-decoration: none;
}

section#notifications a article {
  display: flex;
}

section#notifications a article p {
  margin: auto 0;
  color: #7c7c7c;
  word-break: break-all;
}

section#notifications a article img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  overflow: hidden;
  margin: 1em;
}


/* Profile page */

section#profile {
  text-align: center;
  margin: 1em auto 0em auto;
  max-width: 40em;
  background-color: #ffffff;
  padding: 0 1em 1em 1em;
}

section#profile img[alt="gebruiker"] {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 1em auto;
  padding: 0;
  display: flex
}

a#settings {
  margin: -1.4em 0em auto auto;
  float: right;
}

a img[alt="settings"] {
  width: 2em;
  height: 2em;
}

section#profile div {}

section#profile div p {
  padding: 0;
  margin: 0;
  color: #7c7c7c;
}

section#your_interests {
  background-color: #ffffff;
  padding: 1.5em 1em;
  max-width: 40em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .8em;
}

section#your_interests h3 {
  color: #ebbab5;
  margin: 0em 0 0em 0;
  grid-column: 1/2;
}

section#your_interests a#changeinterests {
  grid-column: 2/3;
  margin-right: 1em;
}

section#your_interests a img {
  width: 1.5em;
  float: right;
}

section#your_interests article {
  border-radius: 1em;
  justify-content: center;
  margin-bottom: 1.5em;
}

section#your_interests article img:first-child {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: .75em;
}

section#your_interests article h4 {
  color: #ffffff;
  margin: -2.2em auto 0 .5em;
  padding: 0;
  word-break: break-all;
  line-height: 1em;
}


/* Settings page */

section#settings {
  background-color: #fff8f3;
  color: #ebbab5;
  padding: 0 1em 1em 1em;
  margin-top: 1em;
}

form img[alt="gebruiker"] {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 1em auto;
  padding: 0;
}

form img {
  box-shadow: -7px 10px 11px -4px rgba(0, 0, 0, 0.18);
}

form fieldset {
  border: none;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  max-width: 25em;
}

form fieldset label {
  margin: 0.3em 0 0.3em;
}

form fieldset input {
  padding: .7em .7em .7em 1em;
  width: 100%;
  border-radius: 2em;
  border: none;
  font-family: 'Avenir_Light';
  font-size: 90%;
  box-shadow: 1px 5px 11px -4px rgba(0, 0, 0, 0.18);
}

form fieldset input[type=file] {
  box-shadow: none;
}

form fieldset input:hover {
  border: .1em solid #c58747;
  border-width: 0.15em;
}

form fieldset input:focus {
  border: .1em solid #c58747;
  border-width: 0.15em;
}

form fieldset input[type=submit] {
  border: none;
}

form fieldset #gender {
  display: inline-flex;
  width: unset;
}

form fieldset #orientation {
  display: inline-flex;
  width: unset;
}

form fieldset [type=submit] {
  font-family: 'Avenir_Light';
  font-size: 1em;
  background-color: #c58747;
  color: #ffffff;
  padding: .7em 0;
  border-radius: 2em;
  margin: 1.5em auto 1em auto;
  width: 100%;
  border: none;
  box-shadow: -7px 10px 11px -4px rgba(0, 0, 0, 0.18);
}

form fieldset [type=submit]:hover {
  opacity: .6;
  transition: .4s linear;
}

form fieldset [type=submit]:focus {
  opacity: .6;
  transition: .4s linear;
}

section#settings a.button {
  font-family: 'Avenir_Light';
  font-size: 1em;
  background-color: #ebbab5;
  color: #ffffff;
  padding: .7em 0;
  border-radius: 2em;
  margin: 0em auto;
  width: 90%;
  border: none;
  max-width: 23.5em;
  display: block;
  text-align: center;
  box-shadow: -7px 10px 11px -4px rgba(0, 0, 0, 0.18);
}

section#settings a.button:hover {
  opacity: .6;
  transition: .4s linear;
}

section#settings a.button:focus {
  opacity: .6;
  transition: .4s linear;
}

section#settings a {
  text-decoration: none;
}


/* Not found page */

section#notfound {
  background-color: #ebbab5;
  color: #ffffff;
  padding: 0 1em 1em 1em;
  padding-bottom: 10em;
}

section#notfound article#notfound {
  text-align: center;
  flex-direction: column;
  max-width: 25em;
  margin: 0 auto;
}

section#notfound a {
  text-decoration: none;
}

section#notfound button {
  margin-top: 2em;
}


/*Create an account pages*/

header nav ul li img[alt="back"] {
  width: 1.5em;
  height: auto;
  margin: 0;
  padding: 0;
}

section#createaccount {
  background-color: #fff8f3;
  color: #ebbab5;
  min-height: 50em;
  padding: 5em 1em 2em 1em;
  margin: 0;
}

section#createaccount p {
  color: #7c7c7c;
}

form img[alt="interest"] {
  width: 80%;
  margin: 0 auto 3em auto;
  border-radius: .75em;
}


/*Match user page*/

section#user_interests {
  background-color: #ffffff;
  padding: 1.5em 1em;
  max-width: 40em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .8em;
}

button#contactmatch {
  border: none;
  background-color: #ffffff;
}

img#contactmatch {
  width: 3.5em;
  height: 3.5em;
  padding: .2em;
}

section#user_interests h3 {
  color: #ebbab5;
  margin: 0em 0 0em 0;
  grid-column: 1/3;
}

section#user_interests a img {
  width: 1.5em;
  float: right;
}

section#user_interests article {
  border-radius: 1em;
  justify-content: center;
  margin-bottom: 1.5em;
}

section#user_interests article img:first-child {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: .75em;
}

section#user_interests article h4 {
  color: #ffffff;
  margin: -2.2em auto 0 .5em;
  padding: 0;
  word-break: break-all;
  line-height: 1em;
}


/* Its a match! */

body#itsamatch {
  background-color: #ebbab5;
}

section#itsamatch h1 {
  color: #ffffff;
  background-color: #ebbab5;
  text-align: center;
  margin: 0;
  padding-top: .5em;
  font-size: 6em;
}

section#itsamatch img {
  margin: 1em auto;
  display: flex;
  width: 15em;
}

section#match {
  background-color: #ebbab5;
  padding: 1.5em 1em;
  max-width: 40em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .8em;
}

section#match h4 {
  color: #ffffff;
  margin: 0;
  grid-column: 1/3;
}

section#macth a img {
  width: 1.5em;
  float: right;
}

section#match article {
  border-radius: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

section#match article img:first-child {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: .75em;
}

section#match article h4 {
  color: #ffffff;
  margin: -2.2em auto 0 .5em;
  padding: 0;
  word-break: break-all;
  line-height: 1em;
}

section#names {
  display: flex;
  justify-content: center;
  margin: 1.5em auto 2em auto;
}

section#names article {
  text-align: center;
}

section#names img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: .5em;
}

section#names article p {
  color: #ffffff;
  margin: 0;
}

section#matchlaststep {
  margin: 1em auto;
  text-align: center;
}

section#matchlaststep button {
  margin-bottom: 1.5em;
}

section#matchlaststep a {
  color: #ffffff;
  text-align: center;
  text-decoration: none
}

section#matchlaststep a:nth-child(2) {
  color: #ffffff;
  margin: 10em auto;
  text-align: center;
  text-decoration: underline;
}